[submodule "third_party/breeze-tts"]
	path = third_party/breeze-tts
	url = https://github.com/breezeblue-ai/breeze-tts.git
[submodule "third_party/Breeze-TTS-2.cpp"]
	path = third_party/Breeze-TTS-2.cpp
	url = https://github.com/HoppouAI/Breeze-TTS-2.cpp.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/PrismML-Eng/llama.cpp
